In [1]:
# Importing the Packages
import pandas as pd
import sweetviz as sv
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Reading Not The Onion CSV File
df = pd.read_csv("/Users/suryalijo/Desktop/AMOD_Project/nto_to_final.csv")

In [3]:
#Printing shape and first 5 rows of the Dataset

print("\n", df.shape)

df.head()

 (31206, 8)

,label,author,created_utc,num_comments,score,title,url,post_body
0,1,kremor,1645405066,0,1,Parents Forced To Explain Thrill Of Having Sex...,https://www.theonion.com/parents-forced-to-exp...,SAN DIEGOâ€”Instructing their confused 4-year-...
1,1,El_Zarco,1645281895,0,1,Posh Restaurant Has Cucumber Slices Floating I...,https://www.theonion.com/posh-restaurant-has-c...,NaN
2,1,Sanlear,1645268793,0,1,Painted Rocksnail Knows It Really Fucked If An...,https://www.theonion.com/painted-rocksnail-kno...,"WOLF CREEK, ALâ€”Reacting with dismay to news ..."
3,1,Additional_Barber_30,1645212992,1,1,Why has The Onion gotten so much worse recenâ€”,https://i.redd.it/vslffdyd9ni81.jpg,NaN
4,1,heavyLobster,1645146992,0,1,Boarâ€™s Head Unveils New Funfetti Birthday Ham,https://www.theonion.com/boar-s-head-unveils-n...,"SARASOTA, FLâ€”In a statement that confirmed c..."

In [4]:
# Rearranging the columns

df = df[['title','post_body','author','num_comments','score','url','created_utc','label']]

df

,title,post_body,author,num_comments,score,url,created_utc,label
0,Parents Forced To Explain Thrill Of Having Sex...,SAN DIEGOâ€”Instructing their confused 4-year-...,kremor,0,1,https://www.theonion.com/parents-forced-to-exp...,1645405066,1
1,Posh Restaurant Has Cucumber Slices Floating I...,NaN,El_Zarco,0,1,https://www.theonion.com/posh-restaurant-has-c...,1645281895,1
2,Painted Rocksnail Knows It Really Fucked If An...,"WOLF CREEK, ALâ€”Reacting with dismay to news ...",Sanlear,0,1,https://www.theonion.com/painted-rocksnail-kno...,1645268793,1
3,Why has The Onion gotten so much worse recenâ€”,NaN,Additional_Barber_30,1,1,https://i.redd.it/vslffdyd9ni81.jpg,1645212992,1
4,Boarâ€™s Head Unveils New Funfetti Birthday Ham,"SARASOTA, FLâ€”In a statement that confirmed c...",heavyLobster,0,1,https://www.theonion.com/boar-s-head-unveils-n...,1645146992,1
...,...,...,...,...,...,...,...,...
31201,â€˜Duneâ€™ Star Stellan Skarsgard Wanted More ...,Stellan SkarsgÃ¥rd in â€œDuneâ€ (Warner Bros....,Antishill_Artillery,2,1,https://www.google.com/amp/s/www.thewrap.com/d...,1635402386,0
31202,Beyond tasteless,Donald Trump Jr. is selling T-shirts on his we...,citizen-of-the-earth,2,1,https://thehill.com/blogs/in-the-know/in-the-k...,1635402239,0
31203,Beyond tasteless,Donald Trump Jr. has begun selling merchandise...,citizen-of-the-earth,2,1,https://www.newsweek.com/donald-trump-jr-selli...,1635402069,0
31204,Beyond tasteless,Donald Trump Jr has begun selling merchandise ...,citizen-of-the-earth,2,1,https://www.independent.co.uk/news/world/ameri...,1635401956,0
31205,Beyond tasteless,"Last week, a horrifying tragedy occurred on th...",citizen-of-the-earth,2,1,https://www.vanityfair.com/news/2021/10/donald...,1635401675,0

In [5]:
# Checking for Null values
df.isna().any()

title           False
post_body        True
author          False
num_comments    False
score           False
url             False
created_utc     False
label           False
dtype: bool

In [6]:
# Check for null values
df.isna().sum()

title              0
post_body       2775
author             0
num_comments       0
score              0
url                0
created_utc        0
label              0
dtype: int64

In [7]:
# Printing summary of the dataset

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31206 entries, 0 to 31205
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         31206 non-null  object
 1   post_body     28431 non-null  object
 2   author        31206 non-null  object
 3   num_comments  31206 non-null  object
 4   score         31206 non-null  object
 5   url           31206 non-null  object
 6   created_utc   31206 non-null  object
 7   label         31206 non-null  int64
dtypes: int64(1), object(7)
memory usage: 1.9+ MB

In [8]:
# Printing number of unique values each column has 

df.nunique(dropna = True)

title           25849
post_body       21839
author          10757
num_comments      387
score             847
url             27363
created_utc     30939
label               2
dtype: int64

In [9]:
#Dropping URL column

df_data = df.drop(columns = ['url'])

In [ ]:
# Instead of dropping NULL values, I feel its better to replace it with titles. So that we dont loose data

In [10]:
#Dropping NULL values

#df_data.dropna(inplace=True)

#print("\n", df_data.shape)

#2775 records were dropped because postbody has null values.

 (28431, 7)

In [10]:
# Checking the shape of data
print("\n", df_data.shape)

 (31206, 7)

In [11]:
# Replacing na values in post_body attribute with data from the title attribute w.r.to same index & row
df_data.post_body.fillna(df_data.title, inplace=True)

In [12]:
#Checking how data looks
df_data.head()

,title,post_body,author,num_comments,score,created_utc,label
0,Parents Forced To Explain Thrill Of Having Sex...,SAN DIEGOâ€”Instructing their confused 4-year-...,kremor,0,1,1645405066,1
1,Posh Restaurant Has Cucumber Slices Floating I...,Posh Restaurant Has Cucumber Slices Floating I...,El_Zarco,0,1,1645281895,1
2,Painted Rocksnail Knows It Really Fucked If An...,"WOLF CREEK, ALâ€”Reacting with dismay to news ...",Sanlear,0,1,1645268793,1
3,Why has The Onion gotten so much worse recenâ€”,Why has The Onion gotten so much worse recenâ€”,Additional_Barber_30,1,1,1645212992,1
4,Boarâ€™s Head Unveils New Funfetti Birthday Ham,"SARASOTA, FLâ€”In a statement that confirmed c...",heavyLobster,0,1,1645146992,1

In [13]:
# Checking number of unique values w.r.to each attribute
df_data.nunique(dropna = True)

title           25849
post_body       24320
author          10757
num_comments      387
score             847
created_utc     30939
label               2
dtype: int64

In [14]:
# Checking the count of null values
df_data.isna().sum()

title           0
post_body       0
author          0
num_comments    0
score           0
created_utc     0
label           0
dtype: int64

In [15]:
#Dropping na values
df_data.dropna(inplace=True)

In [16]:
# Replacing not upper case & not lower case letters with space
df_data['title'] = df_data['title'].str.replace('[^A-Za-z]',' ')
df_data['post_body'] = df_data['post_body'].str.replace('[^A-Za-z]',' ')
df_data['author'] = df_data['author'].str.replace('[^A-Za-z]',' ')

In [17]:

# Replacing \w\s(not word not white space group) with space
df_data['title'] = df_data['title'].str.replace('[^\w\s]',' ')
df_data['post_body'] = df_data['post_body'].str.replace('[^\w\s]',' ')
df_data['author'] = df_data['author'].str.replace('[^\w\s]',' ')

# Removing the spaces between the words
df_data['title'] = df_data['title'].str.replace("  "," ")
df_data['post_body'] = df_data['post_body'].str.replace("  "," ")
df_data['author'] = df_data['author'].str.replace("  "," ")

In [18]:
# Transform all text to lowercase
df_data['title'] = df_data['title'].str.lower()
df_data['post_body'] = df_data['post_body'].str.lower()
df_data['author'] = df_data['author'].str.lower()

In [19]:
# Dropping non-numeric rows from score attribute
df_data = df_data[df_data.score.apply(lambda x: x.isnumeric())]

In [20]:
print('\n', df_data.shape)
# 2 records of data got dropped after running dropping non-numeric rows from score attribute

 (31204, 7)

In [21]:
#Saving to csv
# index = False will avoid creating unnamed column in the CSV file.
df_data.to_csv('semi_processed_nto_to.csv', index = False)

In [22]:
# Converting UTC to EST

df_time = pd.read_csv("semi_processed_nto_to.csv")
utc_list = df_time['created_utc'].to_list()
local_time_year = []
local_time_month = []
local_time_day = []
local_time_hour = []
local_time_minute = []
local_time_seconds = []

for utc in utc_list:    
    lt = datetime.datetime.fromtimestamp(utc)
    lt_str = str(lt)    
    time_date_array = lt_str.split(' ', 2)
    date = time_date_array[0]
    time = time_date_array[1]
    date_array = date.split('-', 3)
    time_array = time.split(':', 3)
        
    local_time_year.append(date_array[0])
    local_time_month.append(date_array[1])
    local_time_day.append(date_array[2])

    local_time_hour.append(time_array[0])
    local_time_minute.append(time_array[1])
    local_time_seconds.append(time_array[2])
    

df_time['local_time_year'] = local_time_year
df_time['local_time_month'] = local_time_month
df_time['local_time_day'] = local_time_day
df_time['local_time_hour'] = local_time_hour
df_time['local_time_minute'] = local_time_minute
df_time['local_time_second'] = local_time_seconds

# Savving the converted time into a new csv file
df_time.to_csv('preprocessed_nto_to.csv', index = False)

In [23]:
df_nto_to = pd.read_csv('preprocessed_nto_to.csv')

In [24]:
# Checking new shape and info of the data
print('\n', df_nto_to.shape)

df_nto_to.info()

 (31204, 13)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31204 entries, 0 to 31203
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              31204 non-null  object
 1   post_body          31204 non-null  object
 2   author             31204 non-null  object
 3   num_comments       31204 non-null  int64
 4   score              31204 non-null  int64
 5   created_utc        31204 non-null  int64
 6   label              31204 non-null  int64
 7   local_time_year    31204 non-null  int64
 8   local_time_month   31204 non-null  int64
 9   local_time_day     31204 non-null  int64
 10  local_time_hour    31204 non-null  int64
 11  local_time_minute  31204 non-null  int64
 12  local_time_second  31204 non-null  int64
dtypes: int64(10), object(3)
memory usage: 3.1+ MB

In [25]:
#Dropping created_utc, local_time_minute and local_time_second columns

df_nto_to = df_nto_to.drop(columns = ['created_utc','local_time_minute','local_time_second'])

In [26]:
# Checking new shape
print('\n', df_nto_to.shape)

 (31204, 10)

In [27]:
df_nto_to.describe()

,num_comments,score,label,local_time_year,local_time_month,local_time_day,local_time_hour
count,31204.000000,31204.000000,31204.000000,31204.000000,31204.000000,31204.000000,31204.000000
mean,9.347359,36.085694,0.445680,2019.982022,6.486508,15.189559,12.686675
std,99.237334,363.651336,0.497049,2.115431,4.419279,8.791385,5.583240
min,0.000000,0.000000,0.000000,2014.000000,1.000000,1.000000,0.000000
25%,0.000000,1.000000,0.000000,2018.000000,2.000000,8.000000,9.000000
50%,0.000000,1.000000,0.000000,2021.000000,6.500000,15.000000,13.000000
75%,2.000000,2.000000,1.000000,2022.000000,11.000000,22.000000,17.000000
max,6526.000000,33432.000000,1.000000,2022.000000,12.000000,31.000000,23.000000

In [28]:
author_names = df_nto_to.author.value_counts().index

In [29]:
author_val = df_nto_to.author.value_counts().values

In [ ]:
# Plot Pie Chart
plt.pie(author_val[:10],labels = author_names[:10],autopct = '%1.2f%%', radius = 2)